= form_with scope: @message, url: user_message_path, method: :patch, local: true do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error") 
        prohibited this article from being saved:
      %ul
        - @message.errors.full_messages.each do |error_message|
          %li
            = error_message

  %title New message
  %p
    %strong by:
    = @message.user.username

  %p
    = f.label :body
    %br
    = f.text_area :body

  %p
    = f.submit
