%h1 Messages' list:
%table
  %tr
    %th User
    %th Body
    %th Link to message

  - @messages.each do |message|
    %tr
      %td= @user.user_name 
      %td= message.body
      %td= link_to 'Show', user_message_path(@user, message)
      %td= link_to 'Edit', edit_user_message_path(@user, message)
      %td= link_to 'Delete', user_message_path(@user, message), 
        method: :delete, 
        data: {confirm: 'Are you sure you want to destroy this message?',
        class: 'btn btn-danger'}
