%h1 User Profile
%h2 Personal Data:
%p
  %strong User name: 
  = @user.user_name
  %br
  %strong Full name: 
  = @user.full_name

%p
  %strong Email: 
  = @user.email

%h2 Type of Account:
= @user.rights

%h2 Create a new message:
= form_with model: [ @user, @user.messages.build ], local: true do |f|
  %p
    %strong
      = f.label :body
      %br
      = f.text_area :body
  %p
    = f.submit

%h2 Message History:
%table
  %tr
    %th Date
    %th Body
    %th
    %th

  - @user.messages.all.each do |message|
    %tr
      %td= message.updated_at
      %td= message.body
      %td= link_to 'Edit',  edit_user_message_path(@user, message)
      %td= link_to 'Delete', [@user, message],
        method: :delete,
        data: {confirm: 'Are you sure you want to delete your message?',
        class: 'btn btn-danger'}

%br
= link_to 'Edit', edit_user_path
= link_to 'Back', users_path
= link_to 'Delete account', user_path(@user),
  method: :delete,
  data: {confirm: 'Are you sure you want to delete your account?',
  class: 'btn btn-danger'}
