.timeline
  %h1 This is the timeline, bitch! 
  - if logged_in?
    %br
    = render 'messages/form-inline'
  - if @messages.empty?
    I'm so alone...
  - else
    - @messages.each do |message|
      .timeline_element
        = message.created_at.strftime('%d/%m/%y at %H:%M')
        %br
      
        = render partial: 'messages/display-message', locals: {message_id: message.id}
        .timeline_reply
          - unless message.parent_id.nil?
            %br
            in reply to
            = render partial: 'messages/display-message', locals: {message_id: message.parent_id}
        - if logged_in?
          %br
          = render partial: 'messages/form-inline', locals: {parent_id: message.id}

